In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import datetime

In [2]:
file = 'Crime_09.csv'
crime_df = pd.DataFrame(pd.read_csv(file))
crime_df.head()

,X,Y,Address,City,State,Date,Hour,OffenseType,Beat,BlockRange,StreetName,Type
0,-95.322341,29.801320,4500 WIPPRECHT ST,HOUSTON,TX,1980-05-01,12.0,Aggravated Assault,7C20,4500-4599,WIPPRECHT,ST
1,-95.478453,29.731622,5700 RICHMOND AVE,HOUSTON,TX,1984-08-26,1.0,Theft,18F30,5700-5799,RICHMOND,AVE
2,-95.299274,29.900101,12200 SWAN RIVER DR,HOUSTON,TX,2000-08-13,17.0,Theft,8C60,12200-12299,SWAN RIVER,DR
3,-95.351548,29.692139,6600 LONDON ST,HOUSTON,TX,2001-08-20,20.0,Theft,14D10,6600-6699,LONDON,ST
4,-95.492678,29.671037,5900 DUMFRIES DR,HOUSTON,TX,2002-01-01,8.0,Theft,15E10,5900-5999,DUMFRIES,DR

In [3]:
def sev(row):
    if row['OffenseType'] == 'Aggravated Assault':
        val = 1
    elif row['OffenseType'] == 'Rape':
        val = 1
    elif row['OffenseType'] == 'Murder':
        val = 1
    elif row['OffenseType'] == 'Robbery':
        val = 1
    elif row['OffenseType'] == 'Arson':
        val = 0
    elif row['OffenseType'] == 'Burglary':
        val = 0
    else:
        val = 0
    return val

In [4]:
crime_df['Severity'] = crime_df.apply(sev, axis=1)

In [5]:
crime_df['Date'] = pd.to_datetime(crime_df['Date'])

In [6]:
crime_df['Year'] = crime_df['Date'].dt.year
crime_df['Month'] = crime_df['Date'].dt.month
crime_df['Day'] = crime_df['Date'].dt.day
crime_df['Weekday'] = crime_df['Date'].dt.dayofweek

In [9]:
crime_df.head()

,X,Y,Address,City,State,Date,Hour,OffenseType,Beat,BlockRange,StreetName,Type,Severity,Year,Month,Day,Weekday
0,-95.322341,29.801320,4500 WIPPRECHT ST,HOUSTON,TX,1980-05-01,12.0,Aggravated Assault,7C20,4500-4599,WIPPRECHT,ST,1,1980.0,5.0,1.0,3.0
1,-95.478453,29.731622,5700 RICHMOND AVE,HOUSTON,TX,1984-08-26,1.0,Theft,18F30,5700-5799,RICHMOND,AVE,0,1984.0,8.0,26.0,6.0
2,-95.299274,29.900101,12200 SWAN RIVER DR,HOUSTON,TX,2000-08-13,17.0,Theft,8C60,12200-12299,SWAN RIVER,DR,0,2000.0,8.0,13.0,6.0
3,-95.351548,29.692139,6600 LONDON ST,HOUSTON,TX,2001-08-20,20.0,Theft,14D10,6600-6699,LONDON,ST,0,2001.0,8.0,20.0,0.0
4,-95.492678,29.671037,5900 DUMFRIES DR,HOUSTON,TX,2002-01-01,8.0,Theft,15E10,5900-5999,DUMFRIES,DR,0,2002.0,1.0,1.0,1.0

In [7]:
weekday_df = pd.DataFrame(crime_df.groupby('Weekday')['Severity'].mean())

In [18]:
# Creat function to calculate max and min of crime severity

def lowVal(df):
    crime_max = df.Severity.max()
    crime_min = df.Severity.min()
    crime_rng = crime_max - crime_min
    crime_low = crime_min/crime_rng
    return crime_low

def highVal(df):
    crime_max = df.Severity.max()
    crime_min = df.Severity.min()
    crime_rng = crime_max - crime_min
    crime_high = (1 - crime_max)/crime_rng
    return crime_high

In [19]:
L = lowVal(weekday_df)
H = highVal(weekday_df)

weekday_df.style.background_gradient(cmap='RdYlGn_r',low=L, high=H)